//remember to consolidate
.jcarousel-skin-default{
	.jcarousel-next {
    background-image: url("../images/arrowcustom.png");
		background-position-x: 30px;
	  background-position-y: -28px;
	}
	.jcarousel-prev{
		background-image: url("../images/arrowcustom.png");
		background-position-y: -28px;
		background-position-x: 30px;
	}
	.jcarousel-next-horizontal:hover {
    background-position: -17px -29px;
}
.jcarousel-prev-horizontal:hover {
	background-position: -17px -29px;
}
.jcarousel-item-horizontal{
	margin: 0 20px;
}
	width: 100%;

	li{
		border: none !important;
		margin: 10px 0;
		background: transparent;
	}
	.jcarousel-item{
		overflow: visible !important;
		height: auto !important; //works
		background: transparent;
	}
	.jcarousel-container-horizontal{
		padding: 0px;
		width: 100%;
		height: auto;
		border: none;
	}
	.jcarousel-clip{
		width: 100% !important;
	}
	.jcarousel-list-horizontal{
		.jcarousel-clip;
	}
	.jcarousel-container{
		.jcarousel-clip;
	}
	.jcarousel-clip-horizontal{
		 .jcarousel-clip;

	}
}
#block-views-blog-block{

	li{
		border: none !important;
		width: 21%!important;
	}
}
#block-views-members-block{
	.jcarousel-item{
		height: 100px !important; //works
	}
}
@media (max-width: 767px) {
	.jcarousel-skin-default{
		li{
			border: none !important;
			width: 100%!important;
			margin: 10px 0;
		}
		.jcarousel-navigation{
			display: none;
		}
		.jcarousel-next {
			display: none;

		}
		.jcarousel-prev {
			display: none;
		}
        .jcarousel-item {
            display:block;
            padding-bottom:10px;
        }
    }
}
